# DATA SCIENCE BOOTCAMP ASSIGNMENT 01

Q1: Write a python program to  iterate through first 10 numbers and print the sum of each

In [7]:
sum = 0 
for i in range(1,11):
    sum = sum + i
print("The total sum of the first 10 numbers are :", sum)

The total sum of the first 10 numbers are : 55

Q2:  List is given below:
numbers = [12, 75, 150, 180, 145, 525, 50]
Write a program to display only those numbers from a list that satisfy the following
conditions
i. The number must be divisible by five
ii. If the number is greater than 150, then skip it and move to the next number
iii. If the number is greater than 500, then stop the loop

In [9]:
numbers = [12, 75, 150, 180, 145, 525, 50]

# Numbers that are divisible by 5

for x in numbers:
    if x % 5 == 0:
        print(x)

75
150
180
145
525
50

In [12]:
# If a number is greater than 150  skip to the number.

numbers = [12, 75, 150, 180, 145, 525, 50]

for x in numbers:
    if x == 150:
        continue
    print(x)

12
75
180
145
525
50

In [14]:
# if a number is greater than 500, break the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for x in numbers:
    if x > 500:
        break
    print(x)

12
75
150
180
145

Q3: Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding
up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is
13+21 = 34.

In [15]:
N = 10

fib1 = 0
fib2 = 1

for n in range(N-2):
    fib_next = fib2 + fib1
    fib1 = fib2
    fib2 = fib_next
    print(fib_next)

1
2
3
5
8
13
21
34

Q4: Write a program to use the loop to find the factorial of a given number.
The factorial (symbol: !) means to multiply all whole numbers from the chosen number
down to 1.
For example: calculate the factorial of 5
5! = 5 × 4 × 3 × 2 × 1 = 120

In [18]:
fact = int(input("Enter a number :"))
result = 1

for n in range(1, fact+1):
    result *= n
print(result)

Enter a number :5
120

Q5: Write a program to iterate a given list and count the occurrence of each element and
print to show the count of each element.
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

In [22]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

count = {}

for element in sample_list:
    if element in count:
        count[element] += 1
    else:
        count[element] = 1
print('The count of each element in the list is :', count)

The count of each element in the list is : {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Q6: Given two lists, l1 and l2, write a program to create a third list l3 by picking an
odd-index element from the list l1 and even index elements from the list l2.
Given:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [40]:
L1 = [3, 6, 9, 12, 15, 18, 21]
L2 = [4, 8, 12, 16, 20, 24, 28]

new_list = []

for i in L1:
    if i % 2 == 1:
        new_list.append(i)
for j in L2:
    if j % 2 == 0:
        new_list.append(j)

print(new_list)

[3, 9, 15, 21, 4, 8, 12, 16, 20, 24, 28]

Q7: Print the following pattern
    1
    2 2
    3 3 3
    4 4 4 4
    5 5 5 5 5

In [45]:
rows = 5

for i in range(1, rows + 1):

    for j in range(i):
        print(i, end=" ")  
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5